<div class="ewebinar-content-container">
    <div class="glass-container">
      <div class="form-container">
        <h2>The right to boycott</h2>
        <p>The right to boycott is a contentious issue in Gaza, reflecting broader debates around freedom of expression and political activism. Many Palestinians view boycotting as a nonviolent means of protest against Israeli occupation and policies perceived as oppressive. The Boycott, Divestment, Sanctions (BDS) movement, which advocates for economic and cultural boycotts of Israel, has gained traction among Palestinians seeking to assert their rights and challenge systemic injustices. However, Israel and its supporters argue that such boycotts undermine peace efforts and unfairly target Israeli businesses and individuals. The debate over the right to boycott encapsulates deeper tensions surrounding Palestinian rights, Israeli policies, and international responses to the conflict.</p>
         <button routerLink="/events" type="submit">Back</button>
      </div>
      </div>
</div>

<router-outlet></router-outlet>