<div class="petition-content-container">
    <div class="glass-container">
    <h1>Urgent Appeal for Ceasefire to Alleviate Civilian Suffering</h1>
    <p>The current surge in hostilities involving Israel, Hamas, and other armed factions has inflicted profound harm on civilians. The extensive casualties and widespread destruction in Gaza are unprecedented, causing immeasurable suffering and displacement. In January 2024, the International Court of Justice issued a mandate for Israel to implement six provisional measures aimed at safeguarding Palestinians in Gaza from the threat of genocide. As each day passes, the humanitarian crisis in Gaza deepens, with mounting casualties. We implore all parties involved to agree to an immediate ceasefire to halt the loss of civilian lives and facilitate essential humanitarian aid delivery to Gaza.</p>
    </div>
    <div class="glassmorphism-container">
      <ul class="vertical-list">
        <li><a href="https://petition.parliament.uk/petitions/649371" target="_blank" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Visit</a><strong> Allow Palestinian Children to Enter the UK During Ongoing Conflict</strong> </li>
        <br>
        <li><a href="https://petition.parliament.uk/petitions/653509" target="_blank" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Visit</a><strong> For the United Kingdom to recognise the state of Palestine immediately</strong> </li>
        <br>
        <li><a href="https://petition.parliament.uk/petitions/649343" target="_blank" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Visit</a><strong> Revoke support for the Israeli Government and recognise the State of Palestine</strong> </li>
        <br>
        <li><a href="https://petition.parliament.uk/petitions/648734" target="_blank" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Visit</a><strong> Create a 'Homes for Palestine' scheme so Palestinians can seek safety in the UK</strong> </li>
        <br>
        <li><a href="https://petition.parliament.uk/petitions/658417" target="_blank" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Visit</a><strong> Seek to expel USA from the UN using Article 6 of the UN Charter</strong> </li>
      </ul>
    </div>
</div>