<div class="humanrights-content-container">
    <div class="glass-container">
      <div class="form-container">
        <h2>Present Difficultis of Gaza</h2>
        <p>The human rights situation in Gaza is a significant concern, characterized by ongoing violations and challenges that impact the population's well-being and dignity. Some key human rights concerns in Gaza include:

            Freedom of Movement: Gazans face severe restrictions on their freedom of movement due to the Israeli blockade and border closures, limiting access to essential services, education, healthcare, and employment opportunities.
            Living Conditions: The population in Gaza experiences overcrowding and inadequate housing, worsened by the destruction from conflicts and limited resources for reconstruction.
            Access to Healthcare: The healthcare system in Gaza is strained due to shortages of medical supplies, equipment, and qualified personnel, resulting in limited access to essential healthcare services.
            Water and Sanitation: Gazans struggle with poor water quality and sanitation, leading to health hazards and the spread of diseases.
            Child Rights: Children in Gaza are particularly vulnerable to the effects of conflict, facing trauma, disrupted education, and limited access to recreational activities and safe spaces.
            Freedom of Expression: Journalists, activists, and human rights defenders in Gaza often face censorship, harassment, and intimidation for speaking out against violations and advocating for accountability.
            Humanitarian Access: The Israeli blockade and restrictions on imports and exports impede humanitarian aid delivery, exacerbating the humanitarian crisis and limiting access to essential goods and services.</p>
         <button routerLink="/about" type="submit">Back</button>
      </div>
      </div>
</div>

<router-outlet></router-outlet>