<div class="about-content-container">
<section class="about-section">
    <div class="about-content">
        <img src="assets/History.jpg" alt="About Us Image">
        <div class="text-content">
            <h4><strong>The History of Palestine</strong></h4>
            <p>Explore the rich history of Palestine, following back to old times through to the cutting edge period, featuring key occasions and social legacy.
            </p>
            <a routerLink="/history">See More</a>
        </div>
    </div>
</section>

<div class="body-content">
    <p>Challenges Facing Gaza: Delve into the unique challenges facing the Gaza Strip, including humanitarian crises, economic hardships, and political tensions.</p>
</div>

<div class="container">
    <div class="section">
        <h3>Historical Background</h3>
        <p>
            Gaza's historical background is rich and complex, spanning thousands of years of civilization and conflict. The region has been inhabited by various ancient peoples, including the
        </p>
            <hr class="solid">
            <a class="about" routerLink="/historicalbg">See More</a>
            
    </div>
    <div class="section">
        <h3>Present Difficulties</h3>
        <p>
            Gaza is confronted with severe humanitarian and socio-economic challenges, aggravated by political tensions and restricted mobility due to the blockade.
        </p>
            
            <hr class="solid">
            <a class="about" routerLink="/aboutpres">See More</a>
    </div>
    <div class="section">
        <h3>Human Rights Concerns</h3>
        <p>The human rights situation in Gaza is a significant concern, characterized by ongoing violations and challenges that impact the population's well-being and dignity. Some key human rights</p>
   
        <hr class="solid">
        <a class="about" routerLink="/humanrights">See More</a>
        
    </div>
</div>
</div>
<router-outlet></router-outlet>