<div class="home-content-container">

    <div class="home-text">
        <h3>Stop the attack on Gaza!</h3> 
        <p>Your one move can change it all. Participate the on-going events.</p>
    </div>

    <h3 class="home-sec">VIEW EVENTS</h3>

    <div class="home-logo">
   
</div>
<div class="h4"><h4>ON-GOING AND UPCOMING EVENTS</h4></div>

<div class="container">
   
    <div class="section">
        <img src="assets/E1.jpg" alt="E1">
        
        <h3>WEBINAR</h3>
       <p>The right to boycott April 20,1024</p>
       <a routerLink="/eventinfo">VIEW MORE</a>
    </div>

    <div class="section">
        <img src="assets/E2.jpg" alt="E2">
        
        <h3>CAMPAIGN</h3>
       <p>Ceasefire now! March-April 8, 2024</p>
       <a routerLink="/campaign">VIEW MORE</a>
    </div>

    <div class="section">
        
        <img src="assets/E3.jpg" alt="E3">
        
        <h3>WEBINAR</h3>
       <p class="date">Fight for the innocent January 25, 2024</p>
       <a routerLink="/eventinfo">VIEW MORE</a>
        

    </div>
    
    
</div>

<router-outlet></router-outlet>