<div class="campaign-content-container">
    <div class="glass-container">
      <div class="form-container">
        <h2>Iran offers not to attack Israel if Gaza ceasefire works</h2>
        <p>Iran's offer not to attack Israel contingent upon the success of a Gaza ceasefire marks a significant diplomatic development in the region. This proposal underscores the interconnectedness of conflicts in the Middle East and the potential for broader peace initiatives. Iran's conditional stance highlights the importance of regional stability and the desire to de-escalate tensions. The success of a ceasefire in Gaza holds the promise of reducing hostilities and creating a conducive environment for dialogue and negotiation. This offer opens a window of opportunity for constructive diplomacy and underscores the complex dynamics shaping the geopolitical landscape of the Middle East.</p>
         <button routerLink="/events" type="submit">Back</button>
      </div>
      </div>
</div>

<router-outlet></router-outlet>