<div class="action-content-container">
    <div class="glass-container">
        <h1>Action Center</h1>
        <br><br>
        <p><strong>This offers doable actions for advocacy, such as sample letters to legislators, petitions, and instructions for planning neighborhood campaigns. With the help of this tool, users may take coordinated group action and have a real influence. </strong>
        </p>    
        <br><br><br>
      </div>
      <div class="glass-row">
        <div class="glass-container2">
        <a routerLink="/fakenews">
          <img class="help" src="assets/help.png">
          <button class="glass-button">Help Now!</button>
        </a>
        </div>
        <div class="glass-container2">
          <a routerLink="/petition">
          <img class="sign" src="assets/sign.png">
          <button class="glass-button" routerLink="">Sign Now!</button>
        </a>
        </div>
        <div class="glass-container2">
        <a routerLink="/donate">
          <img class="join" src="assets/join.png">
          <button class="glass-button" routerLink="">Join Now!</button>
        </a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>