<div class="EventInfo-content-container">
    <div class="glass-container">
      <div class="form-container">
        <h2>Historical background</h2>
        <p>Gaza's historical background is rich and complex, spanning thousands of years of civilization and conflict. The region has been inhabited by various ancient peoples, including the Canaanites and Philistines. Throughout history, Gaza has been a strategic location due to its position along trade routes and its proximity to Egypt and the Mediterranean Sea. It was conquered and ruled by numerous empires, including the Egyptians, Assyrians, Babylonians, Persians, Greeks, and Romans. In the medieval period, Gaza was part of the Islamic Caliphates and later the Ottoman Empire. Modern history saw Gaza under British mandate before becoming a focal point of the Israeli-Palestinian conflict. Today, Gaza remains a symbol of resilience and struggle for self-determination amidst ongoing challenges and aspirations for peace.</p>
         <button routerLink="/about" type="submit">Back</button>
      </div>
      </div>
</div>

<router-outlet></router-outlet>