<div class="home-content-container">
    <div class="home-logo">
        </div>
        <div class="buttons-container">
            <button class="learnmore" routerLink="/about">LEARN MORE</button>
            <button class="contactus" routerLink="/contact" >CONTACT US</button>
        </div>

        <div class="image-container">
            <div class="image-wrapper">
                <a routerLink="/events">
                    <img src="assets/homeicons(1).png" class="zoom-image" alt="info">  </a>
                    <p class="image-description">Be informed on what’s happening in Gaza</p>
               
            </div>
            <div class="image-wrapper">
                <a routerLink="/takeaction">
                    <img src="assets/homeicons(2).png" class="zoom-image" alt="help"> </a>
                    <p class="image-description">Be part of the movement to be the voice of the unheard</p>
            
            </div>
            <div class="image-wrapper">
                <a routerLink="/contact">
                    <img src="assets/homeicons(3).png" class="zoom-image" alt="message">  </a>
                    <p class="image-description">Reach out to us. Help the ones in need.</p>
            
            </div>
        </div>
        
        
</div>

<router-outlet></router-outlet>